#fname
{
	display:none;
}
#lname
{
	display:none;
}
#email1
{
	display:none;
}
#email2
{
	display:none;
}
#pass1
{
	display:none;
}
#repass1
{
	display:none;
}
#repass2
{
	display:none;
}
#number1
{
	display:none;
}
#number2
{
	display:none;
}