.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #a4e5d9;
    margin-left: 0px;
    margin-right: 0px;
}
.container-fluid {
     padding-right: 0px; 
     padding-left: 0px; 
}
.s2
{
	margin-left:600px;
	font-size:
}
.s1
{
	text-align:center;
	margin:20px;
	border:1px;
	background:#333399;
	padding:2px;
	font-size:25px;
}
.infor
{
	text-align:center;
	border-radius:10px;
}
.navbar-nav
{
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-form
{
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top:0px;
	margin-bottom:0px;
}
#I1
{
	text-align:center;
	color:red;
	font-size:50px;
}
#I2
{
	
	text-align:center;
	color:#000;
	font-size:20px;
}


.navbar-brand
{
	height:50px;
}
#carousel-example-generic
{
	height:500px;
}
.carousel-inner
{
	height:500px;
}

.footer
{
   
    font-size: 17px;
    color: #aaa;
    margin-top:230px;
}
.cnt:hover
{
	text-align:right;
    color:crimson;
}
p 
{
    margin:15px 0 10px;
}
.I3
{
	position:relative;
	left:29%;
	width:42%;
	border-style:solid;
	border-radius:0px 0px 10px 10px;
}
.P1
{
	color: #060606;
	font-size: 24px;
	line-height: 1;
	border-bottom: dashed 1px #e81c28;
}
.P6
{
	padding-left: 10px;
	font-size: 16px;
}
.P2
{
	float: right;
	width: 34%;
	text-align: right;
}
.P3
{
	width: 40%;
}
.P4
{
	width: 30%;
	text-align:center;
}
.P5
{	
	width: 29%;
	text-align: right;
	color: #e81c28;
	padding-right: 0;
}
