.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #a4e5d9;
    margin-left: 0px;
    margin-right: 0px;
}
.container-fluid {
     padding-right: 0px; 
     padding-left: 0px; 
}
.navbar-collapse.collapse
{

    padding-bottom: 15px;
	padding-top:15px;
}
.navbar 
{
	margin-bottom:0px; 
}
p 
{
    margin:15px 0 10px;
}
.s
{
	background-color:#649dad;
	margin:0px;
	padding:10px;
}
.s1
{
	position:relative;
	left:40%;
	width:30%;
}
.s2
{
	color:#000;
	border-color:#bc4f4f;
	background-color:#bc4f4f;
	padding:10px;
	font-weight:bold;
	text-align:center;
	border-radius:10px 10px 0px 0px;
	border-style:solid;
}
.s3
{
	padding:20px 10px 20px 10px;
	border-style:solid;
	border-color:#bc4f4f;
	background-color:#e98b50;
}
.s4
{
		width:65%;
}
input
{
	font-size:15px;
	padding:4px;
	margin-top:7px;
	background-color:#f3cd97;
}
input:focus
{
	background-color:#fef2a0;
}
